// style.scss
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; // 垂直方向に中央配置
}

.header nav {
  display: block;
  flex: auto;
  text-align: right;
}

.header a,
.header span {
  text-decoration: none;
  color: #fff;
  line-height: 48px; // 中央に配置
  margin-right: 10px;
}

.header a:hover {
  color: rgb(0, 255, 195);
}

.content {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  background-color: #fff;
  text-align: center;
}

label,
input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.info-label {
  font-weight: bold;
  margin-top: 20px;
}

.info-value {
  display: block;
  font-weight: normal;
}

#toast {
  display: none;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

table {
  margin: 0 auto; // 中央配置
  max-width: 60%; // 最大幅を指定
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

table th, table td {
  width: 50%; // thとtdの幅を均等に分ける
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

table th {
  background-color: #333;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
